body {
  margin: 0;
  font-family: "fagun", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #162022;
  background-image: url("../src/images/konexx_website.png");
  background-size:cover;
  background-position:top;
  background: cover;
}

h1 {
  
  color: #162022;
  font-weight: 400;
  font-size: clamp(25px, 3.3vw, 45px);
  line-height: 112%;
  font-family: "fagun", sans-serif;
}

a:link {
  text-decoration: none;
  color: #162022;
}


code {
  font-family: "fagun", sans-serif;
}

